# включаємо модуль перетворення запиту
RewriteEngine on
# Виключення для папки img
RewriteCond %{REQUEST_URI} !^/wwwroot/img/
# Виключення для modal_form
RewriteCond %{REQUEST_URI} !^/modal_form.php/
# Виключення для checkUser
RewriteCond %{REQUEST_URI} !^/checkUser.php/
# будь-які запити (.*) перетворюємо у access_manager.php
RewriteRule .* access_manager.php [QSA]
# QSA - query string append - збереження url параметрів
